In [1]:
import pandas as pd

In [34]:
df = pd.read_csv(r"../databases/ecommerce_sales_data.csv")

In [10]:
df['UnitPrice'].head(2)

0    141.34
1    407.62
Name: UnitPrice, dtype: float64

In [11]:
df['Category'].head(2)

0      Food
1    Sports
Name: Category, dtype: object

In [3]:
df.describe()

,Age,Quantity,UnitPrice,Discount,ShippingCost,DeliveryDays,Rating,TotalPrice,DiscountAmount,FinalPrice
count,1005.000000,1015.000000,1005.000000,1015.000000,1015.000000,1015.000000,964.000000,1015.000000,1015.000000,1015.000000
mean,43.310448,2.931034,288.046916,6.359606,9.892128,7.452217,4.148340,731.960887,47.886375,693.966639
std,15.944349,1.397791,571.441188,7.051777,5.575150,4.057699,0.961236,575.768090,77.189041,540.425664
min,5.000000,1.000000,10.120000,0.000000,0.000000,1.000000,1.000000,10.120000,0.000000,21.680000
25%,30.000000,2.000000,127.670000,0.000000,5.300000,4.000000,4.000000,266.285000,0.000000,258.105000
50%,42.000000,3.000000,246.290000,5.000000,9.910000,7.000000,4.000000,545.880000,17.322000,522.702500
75%,56.000000,4.000000,375.760000,10.000000,14.500000,11.000000,5.000000,1091.110000,67.232500,998.490000
max,150.000000,5.000000,9606.075501,25.000000,19.970000,14.000000,5.000000,2486.700000,492.687500,2463.890000

In [4]:
df['Rating'].mean()

np.float64(4.148340248962656)

In [5]:
df['Age'].median()

np.float64(42.0)

In [6]:
df['UnitPrice'].mode()[0]

np.float64(29.63)

In [ ]:
df['Category'].mode()[0] # find which value appears the most times

'Clothing'

In [14]:
df['Age'].min()

np.float64(5.0)

In [15]:
df['Age'].max()

np.float64(150.0)

In [ ]:
range_df = df['Age'].max() - df['Age'].min()  # to find range formula max - min
range_df

np.float64(145.0)

In [ ]:
df['Age'].var()   # how spread out the numbers are from their average (mean).
# If the variance is small, it means the ages are all close to each other.
# If the variance is large, it means the ages vary a lot.

np.float64(254.22225129333412)

In [ ]:
df['Age'].std()   # Square root of variance.
# Small std → Ages are close to each other (less variation)
# Large std → Ages are very different from each other (more variation)

np.float64(15.944348569111694)

In [ ]:
# Interquartile Range (IQR).
IQR = df['Age'].quantile(0.75) - df['Age'].quantile(0.25)   # IQR = Q3 - Q1
# If IQR is small → Ages are tightly packed in the middle
# If IQR is big → There’s a wide spread in the central ages
IQR

np.float64(37.0)

In [ ]:
df[['Age','FinalPrice']].cov()   # Covariance tells you the direction of relationship, NOT the strength.

                   Age     FinalPrice
Age         254.222251     793.112135
FinalPrice  793.112135  292059.898805

In [ ]:
df[['Age','FinalPrice']].corr()   # corr() tells you how strongly Age and FinalPrice are connected and in what direction.

                 Age  FinalPrice
Age         1.000000    0.092186
FinalPrice  0.092186    1.000000

In [ ]:
# Skew = which side the tail is;
# Kurtosis = how big the tail is.

In [ ]:
df.skew(numeric_only=True)   # Skewness tells you whether the data is symmetric or leaning to one side.

Age                0.547652
Quantity           0.088367
UnitPrice         13.316006
Discount           0.996205
ShippingCost       0.029920
DeliveryDays       0.043562
Rating            -1.129580
TotalPrice         0.937832
DiscountAmount     2.724905
FinalPrice         0.948578
dtype: float64

In [42]:
df['Age'].skew()

np.float64(0.5476518616138797)

In [ ]:
df.kurtosis(numeric_only=True)   # how heavy or light the tails of the distribution are compared to a normal bell curve.

Age                 1.706607
Quantity           -1.273765
UnitPrice         191.166570
Discount            0.192359
ShippingCost       -1.112113
DeliveryDays       -1.237401
Rating              0.864553
TotalPrice          0.082310
DiscountAmount      9.281803
FinalPrice          0.090726
dtype: float64

In [28]:
import sqlite3

In [36]:
conc = sqlite3.connect("../databases/ecommerce_sales_data.sqllite")

In [37]:
conc

In [38]:
df.to_sql("FinalPrice",conc,if_exists="replace",index="False")

1015

In [40]:
query = """
select * from FinalPrice limit 2;
"""
da = pd.read_sql_query(query,conc)
print(da)

   False   OrderID CustomerID   CustomerName   Age  Gender     City State  \
0      0  ORD00001   CUST0103     John Smith  22.0  Female  Chicago    PA
1      1  ORD00002   CUST0271  William Moore  18.0    Male  Chicago    OH

  Category ProductName  ...  Discount  ShippingCost  PaymentMethod  \
0     Food       Jeans  ...         0         16.07           Cash
1   Sports        Sofa  ...         0         19.91     Debit Card

    OrderDate DeliveryDays Rating  CustomerSatisfaction  TotalPrice  \
0  2024-03-06            5    NaN        Very Satisfied      282.68
1  2024-10-06           14    4.0             Satisfied      815.24

  DiscountAmount  FinalPrice
0            0.0      298.75
1            0.0      835.15

[2 rows x 22 columns]