In [3]:
import pandas as pd
import numpy as np

In [ ]:
data = [10,20,30]
s = pd.Series(data)
s

In [ ]:
seriesWithIndex = pd.Series(data,index=['a','b','c'])
seriesWithIndex

In [ ]:
print(seriesWithIndex['b'])

In [ ]:
print(s[2])

In [ ]:
data2 = {
    "Name" : ["Jamiya", "Begam", "Anish"],
    "Age" : [20,30,20],
    "Country" : ["USA","India","Canada"]
}

In [ ]:
dataFrame = pd.DataFrame(data2)

In [ ]:
dataFrame

In [ ]:
dataFrame.shape

In [ ]:
dataFrame.columns

In [ ]:
dataFrame.index

In [ ]:
dataFrame.head(2)

In [ ]:
dataFrame.tail(1)

In [ ]:
dataFrame.info()

In [ ]:
dataFrame.dtypes

In [ ]:
dataFrame.describe()

In [5]:
df = pd.read_csv(r"C:\Users\jamiy\Downloads\ecommerce_sales_data.csv")
df

,OrderID,CustomerID,CustomerName,Age,Gender,City,State,Category,ProductName,Quantity,...,Discount,ShippingCost,PaymentMethod,OrderDate,DeliveryDays,Rating,CustomerSatisfaction,TotalPrice,DiscountAmount,FinalPrice
0,ORD00001,CUST0103,John Smith,22.0,Female,Chicago,PA,Food,Jeans,2,...,0,16.07,Cash,2024-03-06,5,NaN,Very Satisfied,282.68,0.000,298.750
1,ORD00002,CUST0271,William Moore,18.0,Male,Chicago,OH,Sports,Sofa,2,...,0,19.91,Debit Card,2024-10-06,14,4.0,Satisfied,815.24,0.000,835.150
2,ORD00003,CUST0107,William Moore,120.0,Female,San Jose,AZ,Toys,Lipstick,2,...,0,5.05,Cash,2024-01-28,2,4.0,Very Satisfied,74.26,0.000,79.310
3,ORD00004,CUST0072,Jessica White,29.0,Male,Dallas,NY,Food,Smartphone,2,...,15,8.74,Credit Card,2024-04-26,13,5.0,Neutral,547.36,82.104,473.996
4,ORD00005,CUST0189,Lisa Anderson,53.0,Female,Houston,NY,Beauty,Coffee,4,...,10,10.40,Credit Card,2024-11-12,11,NaN,Neutral,178.28,17.828,170.852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,ORD00807,CUST0203,Jennifer Lee,19.0,Male,Houston,FL,Home & Garden,Novel,2,...,10,5.78,Debit Card,2024-07-08,10,5.0,Very Satisfied,367.90,36.790,336.890
1011,ORD00324,CUST0153,Sarah Williams,65.0,Female,Chicago,AZ,Toys,Sofa,4,...,0,9.92,Cash,2024-12-06,14,5.0,Neutral,1879.88,0.000,1889.800
1012,ORD00132,CUST0045,Tom Martinez,23.0,Female,New York,NY,Electronics,Headphones,1,...,0,14.81,Credit Card,2024-08-27,13,5.0,Neutral,377.01,0.000,391.820
1013,ORD00026,CUST0188,Chris Wilson,29.0,Male,New York,PA,Home & Garden,Jeans,3,...,5,4.63,Credit Card,2024-05-26,3,5.0,Neutral,653.82,32.691,625.759
1014,ORD00828,CUST0178,James Harris,46.0,Male,New York,CA,Sports,Doll,1,...,25,10.24,Cash,2024-07-21,10,4.0,Very Satisfied,363.96,90.990,283.210

In [14]:
v = df.groupby('Category')['FinalPrice'].sum()
v

Category
Beauty            86377.1160
Books             71441.4495
Clothing         115002.6655
Electronics       82825.4235
Food              85336.1810
Home & Garden     79780.5510
Sports            80901.6000
Toys             102711.1525
Name: FinalPrice, dtype: float64

In [12]:
df[df['ProductName']=='Lipstick']

,OrderID,CustomerID,CustomerName,Age,Gender,City,State,Category,ProductName,Quantity,...,Discount,ShippingCost,PaymentMethod,OrderDate,DeliveryDays,Rating,CustomerSatisfaction,TotalPrice,DiscountAmount,FinalPrice
2,ORD00003,CUST0107,William Moore,120.0,Female,San Jose,AZ,Toys,Lipstick,2,...,0,5.05,Cash,2024-01-28,2,4.0,Very Satisfied,74.26,0.000,79.310
10,ORD00011,CUST0100,James Harris,27.0,Male,Chicago,NY,Food,Lipstick,1,...,5,3.42,Credit Card,2024-01-15,9,4.0,Satisfied,484.78,24.239,463.961
14,ORD00015,CUST0258,Jennifer Lee,27.0,Male,San Antonio,OH,Beauty,Lipstick,4,...,0,13.00,Debit Card,2024-07-17,9,5.0,Satisfied,269.44,0.000,282.440
34,ORD00035,CUST0021,John Smith,54.0,Male,Phoenix,NY,Food,Lipstick,1,...,15,11.11,PayPal,2024-12-15,11,3.0,Very Satisfied,22.66,3.399,30.371
44,ORD00045,CUST0035,Chris Wilson,67.0,Female,San Antonio,CA,Electronics,Lipstick,2,...,0,11.92,PayPal,2024-10-21,8,5.0,Satisfied,916.84,0.000,928.760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,ORD00860,CUST0062,Sarah Williams,58.0,Male,Los Angeles,IL,Toys,Lipstick,5,...,0,12.32,PayPal,2024-09-28,14,4.0,Neutral,1231.75,0.000,1244.070
878,ORD00879,CUST0104,William Moore,23.0,Male,San Jose,GA,Sports,Lipstick,1,...,5,10.83,PayPal,2024-06-09,10,4.0,Satisfied,204.18,10.209,204.801
948,ORD00949,CUST0267,Amy Taylor,37.0,Female,San Diego,CA,Clothing,Lipstick,1,...,25,13.42,Credit Card,2024-09-12,1,5.0,Very Satisfied,228.88,57.220,185.080
966,ORD00967,CUST0294,Jessica White,30.0,Female,Dallas,FL,Home & Garden,Lipstick,5,...,0,16.57,Credit Card,2024-01-01,13,4.0,Satisfied,1681.15,0.000,1697.720
967,ORD00968,CUST0210,Chris Wilson,60.0,Female,Houston,IL,Toys,Lipstick,4,...,0,16.46,Cash,2024-07-18,8,5.0,Very Satisfied,601.00,0.000,617.460

In [19]:
agg_summary = df.groupby(['Category', 'ProductName','Discount']).agg({
    'FinalPrice': ['sum','mean'],
    'Quantity' : 'mean'
})
agg_summary

                              FinalPrice               Quantity
                                     sum         mean      mean
Category ProductName Discount
Beauty   Basketball  5         1934.4235   644.807833  3.333333
                     15         769.1925   769.192500  5.000000
                     20        1437.7920  1437.792000  4.000000
         Chocolate   0         4207.1300   841.426000  3.200000
                     5          102.9540   102.954000  2.000000
...                                  ...          ...       ...
Toys     T-Shirt     5         3124.1145  1041.371500  3.000000
                     10        2202.6300   550.657500  3.000000
                     15         356.5635   356.563500  1.000000
                     20         193.4380   193.438000  1.000000
                     25         986.9875   493.493750  4.500000

[461 rows x 3 columns]

In [24]:
insight = df['Discount'].describe()
insight

count    1015.000000
mean        6.359606
std         7.051777
min         0.000000
25%         0.000000
50%         5.000000
75%        10.000000
max        25.000000
Name: Discount, dtype: float64

In [ ]:
print(df.columns) #print(df.columns.to_list)

Index(['OrderID', 'CustomerID', 'CustomerName', 'Age', 'Gender', 'City',
       'State', 'Category', 'ProductName', 'Quantity', 'UnitPrice', 'Discount',
       'ShippingCost', 'PaymentMethod', 'OrderDate', 'DeliveryDays', 'Rating',
       'CustomerSatisfaction', 'TotalPrice', 'DiscountAmount', 'FinalPrice'],
      dtype='object')

In [33]:
new_row = {'OrderID':2000,'CustomerID':3000}
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
df

,OrderID,CustomerID,CustomerName,Age,Gender,City,State,Category,ProductName,Quantity,...,Discount,ShippingCost,PaymentMethod,OrderDate,DeliveryDays,Rating,CustomerSatisfaction,TotalPrice,DiscountAmount,FinalPrice
0,ORD00001,CUST0103,John Smith,22.0,Female,Chicago,PA,Food,Jeans,2.0,...,0.0,16.07,Cash,2024-03-06,5.0,NaN,Very Satisfied,282.68,0.000,298.750
1,ORD00002,CUST0271,William Moore,18.0,Male,Chicago,OH,Sports,Sofa,2.0,...,0.0,19.91,Debit Card,2024-10-06,14.0,4.0,Satisfied,815.24,0.000,835.150
2,ORD00003,CUST0107,William Moore,120.0,Female,San Jose,AZ,Toys,Lipstick,2.0,...,0.0,5.05,Cash,2024-01-28,2.0,4.0,Very Satisfied,74.26,0.000,79.310
3,ORD00004,CUST0072,Jessica White,29.0,Male,Dallas,NY,Food,Smartphone,2.0,...,15.0,8.74,Credit Card,2024-04-26,13.0,5.0,Neutral,547.36,82.104,473.996
4,ORD00005,CUST0189,Lisa Anderson,53.0,Female,Houston,NY,Beauty,Coffee,4.0,...,10.0,10.40,Credit Card,2024-11-12,11.0,NaN,Neutral,178.28,17.828,170.852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012,ORD00132,CUST0045,Tom Martinez,23.0,Female,New York,NY,Electronics,Headphones,1.0,...,0.0,14.81,Credit Card,2024-08-27,13.0,5.0,Neutral,377.01,0.000,391.820
1013,ORD00026,CUST0188,Chris Wilson,29.0,Male,New York,PA,Home & Garden,Jeans,3.0,...,5.0,4.63,Credit Card,2024-05-26,3.0,5.0,Neutral,653.82,32.691,625.759
1014,ORD00828,CUST0178,James Harris,46.0,Male,New York,CA,Sports,Doll,1.0,...,25.0,10.24,Cash,2024-07-21,10.0,4.0,Very Satisfied,363.96,90.990,283.210
1015,2000,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016,2000,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN