In [2]:
import pandas as pd

In [ ]:
# Read
df = pd.read_csv(r"../databases/ecommerce_sales_data.csv") #Read the csv file
df.head(2) # Prints the first two rows

,OrderID,CustomerID,CustomerName,Age,Gender,City,State,Category,ProductName,Quantity,...,Discount,ShippingCost,PaymentMethod,OrderDate,DeliveryDays,Rating,CustomerSatisfaction,TotalPrice,DiscountAmount,FinalPrice
0,ORD00001,CUST0103,John Smith,22.0,Female,Chicago,PA,Food,Jeans,2,...,0,16.07,Cash,2024-03-06,5,NaN,Very Satisfied,282.68,0.0,298.75
1,ORD00002,CUST0271,William Moore,18.0,Male,Chicago,OH,Sports,Sofa,2,...,0,19.91,Debit Card,2024-10-06,14,4.0,Satisfied,815.24,0.0,835.15

In [ ]:
# Create
new_row = {'OrderID': "ORD0017", 'CustomerID': "CUST117"}
# Create a new row as a dictionary -> keys are column names, values are the data.

df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
# Append the new row to the existing DataFrame using pd.concat().
# 'ignore_index=True' resets the row index after adding, so the index stays continuous (0, 1, 2, ...).

df.tail() # Prints the last five rows

,OrderID,CustomerID,CustomerName,Age,Gender,City,State,Category,ProductName,Quantity,...,Discount,ShippingCost,PaymentMethod,OrderDate,DeliveryDays,Rating,CustomerSatisfaction,TotalPrice,DiscountAmount,FinalPrice
1013,ORD00026,CUST0188,Chris Wilson,29.0,Male,New York,PA,Home & Garden,Jeans,3.0,...,5.0,4.63,Credit Card,2024-05-26,3.0,5.0,Neutral,653.82,32.691,625.759
1014,ORD00828,CUST0178,James Harris,46.0,Male,New York,CA,Sports,Doll,1.0,...,25.0,10.24,Cash,2024-07-21,10.0,4.0,Very Satisfied,363.96,90.990,283.210
1015,ORD0017,CUST117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1016,ORD0017,CUST117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1017,ORD0017,CUST117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Read
print(df.iloc[7]) # access by integer position
print(df.loc[:,"Age"]) # access by label or index here, all rows Age cols
print(df.head(1)) # access the first row
print(df.tail(1)) # access the last row

OrderID                       ORD00008
CustomerID                    CUST0122
CustomerName                John Smith
Age                               64.0
Gender                            Male
City                       Los Angeles
State                               PA
Category                          Food
ProductName                 Basketball
Quantity                           4.0
UnitPrice                        332.4
Discount                          15.0
ShippingCost                       4.4
PaymentMethod              Credit Card
OrderDate                   2024-03-15
DeliveryDays                      10.0
Rating                             1.0
CustomerSatisfaction    Very Satisfied
TotalPrice                      1329.6
DiscountAmount                  199.44
FinalPrice                     1134.56
Name: 7, dtype: object
0        22.0
1        18.0
2       120.0
3        29.0
4        53.0
        ...
1013     29.0
1014     46.0
1015      NaN
1016      NaN
1017      NaN
Name: Age, Length: 1018, dtype: float64
    OrderID CustomerID CustomerName   Age  Gender     City State Category  \
0  ORD00001   CUST0103   John Smith  22.0  Female  Chicago    PA     Food

  ProductName  Quantity  ...  Discount  ShippingCost  PaymentMethod  \
0       Jeans       2.0  ...       0.0         16.07           Cash

    OrderDate DeliveryDays  Rating  CustomerSatisfaction TotalPrice  \
0  2024-03-06          5.0     NaN        Very Satisfied     282.68

   DiscountAmount  FinalPrice
0             0.0      298.75

[1 rows x 21 columns]
      OrderID CustomerID CustomerName  Age Gender City State Category  \
1017  ORD0017    CUST117          NaN  NaN    NaN  NaN   NaN      NaN

     ProductName  Quantity  ...  Discount  ShippingCost  PaymentMethod  \
1017         NaN       NaN  ...       NaN           NaN            NaN

     OrderDate DeliveryDays  Rating  CustomerSatisfaction TotalPrice  \
1017       NaN          NaN     NaN                   NaN        NaN

      DiscountAmount  FinalPrice
1017             NaN         NaN

[1 rows x 21 columns]

In [ ]:
#Update by a specific value
df.loc[df['OrderID']=="ORD00001","CustomerName"]="Jamiya Begam K"
df.iloc[0] V02111v0211

OrderID                       ORD00001
CustomerID                    CUST0103
CustomerName            Jamiya Begam K
Age                               22.0
Gender                          Female
City                           Chicago
State                               PA
Category                          Food
ProductName                      Jeans
Quantity                           2.0
UnitPrice                       141.34
Discount                           0.0
ShippingCost                     16.07
PaymentMethod                     Cash
OrderDate                   2024-03-06
DeliveryDays                       5.0
Rating                             NaN
CustomerSatisfaction    Very Satisfied
TotalPrice                      282.68
DiscountAmount                     0.0
FinalPrice                      298.75
Name: 0, dtype: object

In [17]:
#Delete by row
df = df.drop(index=1)
df.head(2)

,OrderID,CustomerID,CustomerName,Age,Gender,City,State,Category,ProductName,Quantity,...,Discount,ShippingCost,PaymentMethod,OrderDate,DeliveryDays,Rating,CustomerSatisfaction,TotalPrice,DiscountAmount,FinalPrice
0,ORD00001,CUST0103,Jamiya Begam K,22.0,Female,Chicago,PA,Food,Jeans,2.0,...,0.0,16.07,Cash,2024-03-06,5.0,NaN,Very Satisfied,282.68,0.0,298.75
2,ORD00003,CUST0107,William Moore,120.0,Female,San Jose,AZ,Toys,Lipstick,2.0,...,0.0,5.05,Cash,2024-01-28,2.0,4.0,Very Satisfied,74.26,0.0,79.31

In [ ]:
#Delete by column
df = df.drop('State',axis = 1) # here the axis define the row(0) and col(1)
df.head(0) # Prints the cols for validation

Empty DataFrame
Columns: [OrderID, CustomerID, CustomerName, Age, Gender, City, Category, ProductName, Quantity, UnitPrice, Discount, ShippingCost, PaymentMethod, OrderDate, DeliveryDays, Rating, CustomerSatisfaction, TotalPrice, DiscountAmount, FinalPrice]
Index: []

In [ ]:
#Rename cols
df.rename(columns={"City":"MyCity","UnitPrice":"PricePerQuantity"},inplace = True) # Rename the df without creating a copy by using inplace=True
df.head(0) # Prints the cols for validation

Empty DataFrame
Columns: [OrderID, CustomerID, CustomerName, Age, Gender, MyCity, Category, ProductName, Quantity, PricePerQuantity, Discount, ShippingCost, PaymentMethod, OrderDate, DeliveryDays, Rating, CustomerSatisfaction, TotalPrice, DiscountAmount, FinalPrice]
Index: []

In [ ]:
# Convert 'OrderDate' column from object/string to datetime 
df["OrderDate"] = pd.to_datetime(df["OrderDate"], format="%Y-%m-%d", errors="coerce")
# Step 1: 'pd.to_datetime()' converts strings or objects into datetime format
# Step 2: 'format' specifies the expected date format (optional but faster and safer)
# Step 3: 'errors="coerce"' will replace invalid dates with NaT (Not a Time) instead of crashing
df.info() # Can be able to see the Dtype here

<class 'pandas.core.frame.DataFrame'>
Index: 1017 entries, 0 to 1017
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OrderID               1017 non-null   object
 1   CustomerID            1017 non-null   object
 2   CustomerName          1014 non-null   object
 3   Age                   1004 non-null   float64
 4   Gender                1014 non-null   object
 5   MyCity                1004 non-null   object
 6   Category              1014 non-null   object
 7   ProductName           1014 non-null   object
 8   Quantity              1014 non-null   float64
 9   PricePerQuantity      1004 non-null   float64
 10  Discount              1014 non-null   float64
 11  ShippingCost          1014 non-null   float64
 12  PaymentMethod         1014 non-null   object
 13  OrderDate             1014 non-null   datetime64[ns]
 14  DeliveryDays          1014 non-null   float64
 15  Rating                963 non-null    float64
 16  CustomerSatisfaction  999 non-null    object
 17  TotalPrice            1014 non-null   float64
 18  DiscountAmount        1014 non-null   float64
 19  FinalPrice            1014 non-null   float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 166.9+ KB

In [22]:
#Rename cols
df.rename(columns={'Sales':'TotalSales','OrderDate':'Date'}, inplace=True)
df.head(0)

Empty DataFrame
Columns: [OrderID, CustomerID, CustomerName, Age, Gender, MyCity, Category, ProductName, Quantity, PricePerQuantity, Discount, ShippingCost, PaymentMethod, Date, DeliveryDays, Rating, CustomerSatisfaction, TotalPrice, DiscountAmount, FinalPrice]
Index: []